<h3 jhiTranslate="request.review.summaryTitle">Review Summary</h3>
<table class="table">
    <thead>
    <tr>
        <th jhiTranslate="request.review.reviewerName">Name</th>
        <th jhiTranslate="request.review.date">Date</th>
        <th jhiTranslate="request.review.result">Result</th>
        <th jhiTranslate="request.review.comment">Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Marco Botton</th>
        <td>5/15/2017, 12:13 PM</td>
        <td>Approved</td>
        <td>
            <small>No further comment.</small>
        </td>
    </tr>
    <tr>
        <th scope="row">Valerie Smit</th>
        <td>5/13/2017, 02:13 AM</td>
        <td>Rejected</td>
        <td>
            <small>Lack of supplementary documents. Approval from lab supervisor is needed.</small>
        </td>
    </tr>
    <tr>
        <th scope="row">John Langzaam</th>
        <td></td>
        <td>In Progress</td>
        <td></td>
    </tr>
    </tbody>
</table>
