<h3 jhiTranslate="request.review.summaryTitle">Review Summary</h3>
<table class="table">
    <thead>
    <tr>
        <th jhiTranslate="request.review.reviewerName">Name</th>
        <th jhiTranslate="request.review.date">Date</th>
        <th jhiTranslate="request.review.result">Result</th>
        <th jhiTranslate="request.review.comment">Comment</th>
    </tr>
    </thead>
    <tbody *ngIf="lastReviewFeedback">
    <tr *ngFor="let feedback of lastReviewFeedback">
        <th scope="row">{{feedback.reviewer.firstName}} {{feedback.reviewer.lastName}}</th>
        <td>{{feedback.date | date:'short'}}</td>
        <td>
            <span class="tag" [ngClass]="toggleAdviseStyle(feedback.advice)">
                {{RequestReviewDecision[feedback.advice]}}
            </span>
        </td>
        <td>
            <small>{{feedback.summary}}</small>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="!lastReviewFeedback">
    <tr>
        <td colspan="4" class="no-results">
            <div class="alert alert-info">
                No review found
            </div>
        </td>
    </tr>
    </tbody>
</table>
