<div class="request-action-wrapper" *ngIf="hasLastReviewFeedback()">
    <h3 [translate]="'request.review.title'"></h3>
    <table class="table">
        <thead>
        <tr>
            <th [translate]="'request.review.reviewerName'"></th>
            <th [translate]="'request.review.date'"></th>
            <th [translate]="'request.review.result'"></th>
            <th [translate]="'request.review.comment'"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feedback of lastReviewFeedback">
            <th scope="row">{{feedback.reviewer.firstName}} {{feedback.reviewer.lastName}}</th>
            <td>{{feedback.date | date:"dd-MM-yyyy',' HH:mm"}}</td>
            <td>
                <span class="badge" [ngClass]="toggleAdviseStyle(feedback.advice)">{{feedback.advice}}</span>
            </td>
            <td class="feedback-comment">
                <small>
                    <strong>{{feedback.message.summary}}</strong>
                    <span>{{feedback.message.description}}</span>
                </small>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="!lastReviewFeedback">
        <tr>
            <td colspan="4" class="no-results transparent-bg">
                <div class="alert alert-info">
                    <span [translate]="'request.review.noResults'"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
