# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overriden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

eureka:
    client:
        enabled: true
        healthcheck:
            enabled: true
        register-with-eureka: true
        fetch-registry: true
        instance-info-replication-interval-seconds: 10
        registry-fetch-interval-seconds: 10
    instance:
        appname: podiumGateway
        instanceId: podiumGateway:${spring.application.instance_id:${random.value}}
        lease-renewal-interval-in-seconds: 5
        lease-expiration-duration-in-seconds: 10
        status-page-url-path: ${management.context-path}/info
        health-check-url-path: ${management.context-path}/health
        metadata-map:
            zone: primary # This is needed for the load balancer
            profile: ${spring.profiles.active}
            version: ${info.project.version}

ribbon:
    eureka:
        enabled: true

zuul:
    host:
        max-total-connections: 1000
        max-per-route-connections: 100
    semaphore:
        max-semaphores: 500
    retryable: true

# See https://github.com/Netflix/Hystrix/wiki/Configuration
hystrix:
    command:
        default:
            execution:
                isolation:
                    strategy: THREAD
                    thread:
                        timeoutInMilliseconds: 10000

management:
    context-path: /management
    security:
        roles: PODIUM_ADMIN
    health:
        mail:
            enabled: false # When using the MailService, configure an SMTP server and set this to true
spring:
    application:
        name: podiumGateway
    jackson:
        serialization.write_dates_as_timestamps: false
    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    messages:
        basename: i18n/messages
    mvc:
        favicon:
            enabled: false
    thymeleaf:
        mode: XHTML
    security:
        client-authorization:
            access-token-uri: http://podiumuaa/oauth/token
            token-service-id: podiumuaa
            client-id: internal
            client-secret: internal
    data:
        elasticsearch:
            properties:
                cluster.routing.allocation.disk.watermark.high: 99%
    http:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB

security:
    basic:
        enabled: false
    oauth2:
        resource:
            filter-order: 3

server:
    session:
        cookie:
            http-only: true

hazelcast:
    phone:
        home:
            enabled: false

# ===================================================================
# Podium specific properties
# ===================================================================

podium:
    async:
        core-pool-size: 2
        max-pool-size: 50
        queue-capacity: 10000
    # By default CORS is enabled.
    cors:
        allowed-origins: "*"
        allowed-methods: GET, PUT, POST, DELETE, OPTIONS
        allowed-headers: "*"
        exposed-headers:
        allow-credentials: true
        max-age: 1800
    mail:
        from: podium@localhost
        # base-url: https://podium.example.com
        supportEmail: servicedesk@health-ri.nl
        signature:
         - |
            BBMRI Request Portal Podium
         - |
            E-mail: <a href="mailto:servicedesk@health-ri.nl">servicedesk@health-ri.nl</a>
         - |
            Selfservice: <a href="https://trait.topdesk.net">https://trait.topdesk.net</a>
         - |
            Website: <a href="https://trait.health-ri.nl">https://trait.health-ri.nl</a>
         - |
            Telefoon: +31 (0)881167500
    swagger:
        default-include-pattern: /api/.*
        title: Podium Gateway API
        description: API documentation for the gateway component of the Podium request portal.
        version: 0.0.8
        terms-of-service-url:
        contact-name:
        contact-url: https://github.com/thehyve/podium
        contact-email:
        license:
        license-url:
    ribbon:
        display-on-active-profiles: dev
    files:
        upload-dir: ./podium_uploads
    access:
        request-template: # Configure Basic Authentication for the /api/public/requests/template endpoint.

# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the PodiumProperties above
# ===================================================================

application:
