<nav class="navbar navbar-dark jh-navbar" *ngIf="isAuthenticated()">
    <div class="jh-logo-container float-xs-left">
        <a class="jh-navbar-toggler hidden-lg-up float-xs-left" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="material-icons">view_headline</i>
        </a>
        <a class="navbar-brand logo float-xs-right" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">Podium Request Portal</span> <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="collapse navbar-toggleable-md float-lg-right" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="nav navbar-nav float-lg-right">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <i class="material-icons">home</i>
                    <span class="hidden-sm-down" jhiTranslate="global.menu.home">Home</span>
                </a>
            </li>

            <li class="nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" jhiHasAuthority="ROLE_RESEARCHER">
                <a class="nav-link" routerLink="/requests">
                    <i class="material-icons">assignment_ind</i>
                    <span class="hidden-sm-down" jhiTranslate="global.menu.requests">My Requests</span>
                </a>
            </li>

            <li class="nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" jhiHasAuthority="ROLE_REVIEWER" >
                <a class="nav-link" routerLink="/reviews">
                    <i class="material-icons">rate_review</i>
                    <span class="hidden-sm-down" jhiTranslate="global.menu.organisation.org_reviewer.reviews">My Reviews</span>
                </a>
            </li>

            <!-- Organisation role -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" jhiHasAnyAuthority="[ROLE_ORGANISATION_ADMIN, ROLE_ORGANISATION_COORDINATOR]" >
                <a class="nav-link dropdown-toggle" routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="org-admin-menu">
                    <span>
                        <i class="material-icons">business</i>
                        <span class="hidden-sm-down" jhiTranslate="global.menu.organisation.main">
                            Organisation
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu jhiHasAuthority="ROLE_ORGANISATION_ADMIN">
                    <!-- Organisation Admin -->
                    <li class="dropdown-header">
                        <span class="hidden-sm-down" jhiTranslate="global.menu.organisation.org_admin.main">
                            Administration
                        </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" routerLink="org-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">settings</i>
                            <span jhiTranslate="global.menu.organisation.org_admin.orgConfiguration">Organisation configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">supervisor_account</i>
                            <span jhiTranslate="global.menu.organisation.org_admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="form-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">assignment</i>
                            <span jhiTranslate="global.menu.organisation.org_admin.formConfiguration">Form configuration</span>
                        </a>
                    </li>

                    <!-- Organisation Coordinator -->
                    <li class="dropdown-header" jhiHasAuthority="ROLE_ORGANISATION_COORDINATOR">
                        <span class="hidden-sm-down" jhiTranslate="global.menu.organisation.org_coordinator.main">
                            Coordination
                        </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" routerLink="requests" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">archive</i>
                            <span jhiTranslate="global.menu.organisation.org_coordinator.requests">Requests</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" jhiHasAuthority="ROLE_BBMRI_ADMIN">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="podium-menu">
                    <span>
                        <i class="material-icons">settings</i>
                        <span class="hidden-sm-down" jhiTranslate="global.menu.bbmri_admin.main">
                           BBMRI
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-header">
                        <span class="hidden-sm-down" jhiTranslate="global.menu.bbmri_admin.header">
                            Global
                        </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" routerLink="org-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">settings</i>
                            <span jhiTranslate="global.menu.bbmri_admin.orgConfiguration">Organisation configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">supervisor_account</i>
                            <span jhiTranslate="global.menu.bbmri_admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="form-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">assignment</i>
                            <span jhiTranslate="global.menu.bbmri_admin.formConfiguration">Form configuration</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" jhiHasAuthority="ROLE_BBMRI_ADMIN">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="material-icons">view_list</i>
                        <span class="hidden-sm-down" jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li uiSrefActive="active" jhiHasAnyAuthority="[ROLE_PODIUM_ADMIN, ROLE_BBMRI_ADMIN, ROLE_ORGANISATION_ADMIN]">
                        <a class="dropdown-item" routerLink="role" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.role">Role</span>
                        </a>
                    </li>
                    <li uiSrefActive="active" jhiHasAnyAuthority="[ROLE_PODIUM_ADMIN, ROLE_BBMRI_ADMIN]">
                        <a class="dropdown-item" routerLink="organisation" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.organisation">Organisation</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>

            <li *ngSwitchCase="true" jhiHasAnyAuthority="[ROLE_PODIUM_ADMIN, ROLE_BBMRI_ADMIN]" ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="material-icons">supervisor_account</i>
                        <span class="hidden-sm-down" jhiTranslate="global.menu.podium.main">Podium</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-header">
                        <span class="hidden-sm-down">
                            Service
                        </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" routerLink="gateway" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">traffic</i>
                            <span jhiTranslate="global.menu.podium.gateway">Gateway</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">supervisor_account</i>
                            <span jhiTranslate="global.menu.podium.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">explore</i>
                            <span jhiTranslate="global.menu.podium.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">local_hospital</i>
                            <span jhiTranslate="global.menu.podium.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">build</i>
                            <span jhiTranslate="global.menu.podium.configuration">Configuration</span>
                        </a>
                    </li>
                    <li class="dropdown-header">
                        <span class="hidden-sm-down">
                            Logging
                        </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">toll</i>
                            <span jhiTranslate="global.menu.podium.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">receipt</i>
                            <span jhiTranslate="global.menu.podium.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">library_books</i>
                            <span jhiTranslate="global.menu.podium.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="material-icons">language</i>
                        <span class="hidden-sm-down" jhiTranslate="global.menu.language">Language</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                        <i class="material-icons">account_circle</i>
                    <span class="hidden-sm" jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                    <b class="caret"></b>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">settings</i>
                            <span jhiTranslate="global.menu.account.profile">Profile</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">fingerprint</i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="material-icons">exit_to_app</i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="material-icons">fingerprint</i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="material-icons">mode_edit</i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
