<h2><span>My Requests</span>
    <div class="btn-group flex-btn-group-container">
        <button class="btn btn-warning float-xs-right create-organisation active" (click)="displaySubmittedRequests()" >
            <i class="material-icons">assignment_ind</i>
            <span class="hidden-sm-down">
            My requests
            </span>
        </button>
        <button class="btn btn-success float-xs-right create-organisation" i18n:attributes=""(click)="displayDrafts()">
            <span class="fa fa-file"></span>
            <span class="hidden-sm-down">
            Show Drafts
            </span>
        </button>
        <button class="btn btn-primary float-xs-right create-organisation" (click)="createNewRequest()">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down">
            Create new request
            </span>
        </button>
    </div>
</h2>


<br/>
<div class="table-responsive" *ngIf="availableRequestDrafts">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span >Title</span></th>
            <th><span>Status</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of availableRequestDrafts ;trackBy: trackId">
            <td><a href="#">{{request.id}}</a></td>
            <td>
                {{request.requestDetail.title}}
            </td>
            <td>
                {{request.status}}
            </td>
            <td class="text-xs-right">
                <div class="btn-group flex-btn-group-container" *ngIf="request.status === 'Draft'">
                    <button type="button"
                            class="btn btn-primary btn-sm"  (click)="editRequest(request)">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Remove</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
