<div class="small attachment-list-container">
    <table class="table">
        <thead>
        <tr>
            <th [translate]="'attachments.list.name'"></th>
            <th [translate]="'attachments.list.type'"></th>
            <th [translate]="'attachments.list.uploader'"></th>
            <th [translate]="'attachments.list.size'"></th>
            <th [translate]="'attachments.list.uploadDate'"></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attachment of attachments">
            <td><a (click)="downloadAttachment(attachment)" class="downloadable-file"
                   download="{{attachment.fileName}}">{{attachment.fileName}}</a></td>
            <td>
                <select id="attachment-type-select" #attachmentType [(ngModel)]="attachment.requestFileType"
                        (change)="onAttachmentTypeChange(attachment, attachmentType.value)"
                        *ngIf="canEdit(attachment)">
                    <option *ngFor="let attachmentType of attachmentTypes" value="{{attachmentType.value}}"
                            [innerHTML]="'attachments.option.' + attachmentType.label | translate">
                    </option>
                </select>
                <span *ngIf="!canEdit(attachment)" [translate]="'attachments.option.' + attachment.requestFileType"></span>
            </td>
            <td>{{attachment.uploader?.login}}</td>
            <td>{{formatBytes(attachment.fileByteSize, 1)}}</td>
            <td>{{attachment.createdDate | date: "dd-MM-yyyy',' HH:mm"}}</td>
            <td >
                <button type="submit" class="btn btn-danger btn-sm test-remove-btn"
                        (click)="deleteAttachment(attachment)" title="Remove attachment" *ngIf="canEdit(attachment)">
                    <i class="material-icons md-18">remove_circle_outline</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="form-text text-danger" *ngFor="let err of error">
        <span [translate]="'attachments.list.validate.fileTypes'"></span>
        <strong>{{err.filename}}</strong>
    </div>

</div>
