<div class="small attachment-list-container">
    <table class="table">
        <thead>
        <tr>
            <th jhiTranslate="attachments.list.name">Name</th>
            <th jhiTranslate="attachments.list.type">Type</th>
            <th jhiTranslate="attachments.list.owner">Uploader</th>
            <th jhiTranslate="attachments.list.size">Size</th>
            <th jhiTranslate="attachments.list.uploadDate">Uploaded Date</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attachment of attachments">
            <td><a (click)="downloadAttachment(attachment)"
                   download="{{attachment.fileName}}">{{attachment.fileName}}</a></td>
            <td>
                <select id="attachment-type-select">
                    <option *ngFor="let attachmentType of attachmentTypes" value="{{attachmentType.value}}"
                            jhiTranslate="attachments.option.{{attachmentType.label}}">
                        _PLACEHOLDER_
                    </option>
                </select>
            </td>
            <td>{{''}}</td> <!--TODO: Get name-->
            <td>{{formatByte(attachment.fileSize,1)}}</td>
            <td>{{attachment.createdDate | date:'short'}}</td>
            <td>
                <button type="submit" class="btn btn-danger btn-sm test-remove-btn"
                        (click)="deleteAttachment(attachment)" title="Remove attachment">
                    <i class="material-icons md-18">remove_circle_outline</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
