
<div *ngIf="role">
    <h2><span jhiTranslate="podiumGatewayApp.role.detail.title">Role</span> {{role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="podiumGatewayApp.role.users">Users</span></dt>
        <dd>
            <span *ngFor="let users of role.users; let last = last">
                {{users.login}}{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="podiumGatewayApp.role.organisation">Organisation</span></dt>
        <dd>
            <div *ngIf="role.organisation">
                <a [routerLink]="['organisation', role.organisation?.id]">{{role.organisation?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
